

:root {
    --section-padding--dt:240px 80px 0;
    --section-padding--tb:240px 40px 0;
    --section-padding--sp:120px 24px 0;
    --padding--xlg: 80px;
    --padding--lg: 40px;
    --padding--md: 32px;
    --padding--sm: 24px;
    --padding--xs: 16px;
    --padding-LR-xlg: 80px;
    --padding-LR-lg: 40px;
    --padding-LR-md: 32px;
    --padding-LR-sm: 24px;
    --padding-LR-xs: 16px;
    --contents-margin--xlg:80px;
    --contents-margin--lg:40px;
    --contents-margin--md:32px;
    --contents-margin--sm:24px;
    --contents-margin--xs:16px;
    --font-main-title:7.2rem;
    --font-section-title:4rem;
    --font-article-title:3.2rem;
    --font-sub-title:2.4rem;
    --font-p-size--lg:2rem;
    --font-p-size--md:1.6rem;
    --font-p-size--sm:1.4rem;
    --p-sub-title-line-height: 4.8rem;
    --p-text-line-height: 2rem;
    --border:1px solid #626262;
    --border-radius: 4px;
    --color: #000;
    --background: #d9d9d9;
    --background-image: #aaaaaa;
    --gap:40px;
    --gap-lg:56px;
    --width-pc:1440px;
    --width-container:1280px;
    --max-width--card-img: 400px;
    --width-full:100%;
}

* {
    font-size: 62.5%;
   /* border: var(--border); */
}

body {
    margin: 0 auto;
}

main {
    width: 100%;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6, p, a {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.main-title, .section-title, .article-title {
    text-transform: uppercase
}

.main-title{
    font-size: var(--font-main-title);
    @media (max-width: 768px) {
        font-size: var(--font-main-title--sp);
    }
}

.section-title{
    font-size: var(--font-section-title);
    text-align: center;
    margin-bottom: var(--contents-margin--xlg);
    @media (max-width: 768px) {
        font-size: var(--font-section-title--sp);
    }
}

.article-title{
    font-size: var(--font-article-title);
    margin-bottom: var(--contents-margin--md);

    @media (max-width: 768px) {
        font-size: var(--font-article-title--sp);
    }
}

.sub-title{
    font-size: var(--font-sub-title);
    line-height: var(--p-sub-title-line-height)
}

.price-text {
    font-size: var(--font-sub-title);
}

ul {
    gap: 20px;
}

li a {
    text-transform: uppercase;
    list-style: none;
    font-size: var(--font-p-size--lg);
    
}

p, a {
    font-size: var(--font-p-size--md);
    line-height: var(--p-text-line-height);

}

dd, dt {
    font-size: var(--font-p-size--lg);
    padding: var(--padding--xs) 0;
}

.btn {
    padding: 8px 24px;
    border: var(--border);
}


section {
    margin: 0 auto;
    
}

.section {
    max-width: var(--width-pc);
    width: 100%;
    border: var(--border);
}

.container {
    margin: 0 auto;
    max-width: var(--width-container);
    border:var(--border);
}

hgroup {
    /* width: 100%; */
    /* height: auto; */
    background: var(--background);

}

/* ------------------------------------------------------ */
/* header */
.header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 120px;
    padding: var(--padding-LR-lg);
    border: var(--border);
    background: var(--background);

    .header__logo {
        display: grid;
        place-content: center;
        font-size: var(--font-p-size--lg);
    }

    .header__nav {
        display: grid;
        place-content: center;
    }


    .header__nav__list {
        display: flex;
        gap: var(--gap);
    }
}

/* top-view */
/* top-view sec__01 */
.sec__01 {
    width: var(--width-full);
    display: grid;
    place-content: center;
    height: 100vh;
    background: url(../img/img16-9.png)center/cover no-repeat;

    .top-view__text {
        color: #fff;
        width: 100%;
    }
}

/* top-view sec__02 */
.sec__02 {
    width: var(--width-full);
    height: 100vh;
    display: grid;
    place-content: center start;
    padding-left: var(--padding-LR-xlg);
    background: url(../img/img16-9.png) center / cover no-repeat;
}

/* top-view sec__03 */ 
.sec__03 {
    display: grid;
    place-content: center;
    width: 100%;
    height: 100vh;
    background: url(../img/img16-9.png) center / cover no-repeat;

    .title-area__01 {
        text-align: center;
    }
}

/* top-view sec__04 */
.sec__04 {
    display: grid;
    place-content: center;
    width: 100%;
    height: 100vh;

    .sec__04--container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 20px;
    }

    .title-area--01 {
        text-align: center;
        background: none;
    }

}

/* media sec__05 */
.concept__media {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--gap);
    text-align: center;
    padding-bottom: var(--padding--md);
}
.media--revers {
    padding-left: var(--padding--md);
    padding-bottom: 0;
    .concept__img--01 {
        order: 2;
    }

    .concept__body {
        order: 1;
    }
}
/* panel sec_06 */
.concept__panel--list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: var(--gap);

    .panel {
        padding: var(--padding--xs);
        background: var(--background);
    }
}

/* circle-card sec__07 */
.circle-card__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: var(--gap);

    .circle-card {
        overflow: hidden;
        height: auto;
    }

    .circle-card__img {
        width: 100%;
        aspect-ratio: 1/1;
        border-radius:50%;
    }

    .circle-card__body {
        padding: var(--padding--sm);
        background: var(--background);
    }
}

/* list sec__08 */
.list__area {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--gap);

    .list {
        padding: var(--padding--sm);
        background: var(--background);
    }

    .list__title {
        margin-bottom: var(--contents-margin--sm)
    }
}

/* card sec__09 */
.card__list {
    display: grid;
    gap: var(--gap-lg);
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));

    .card {
        width: 100%;
        aspect-ratio: 3/4;
        border: var(--border);

        .card__img {
            display: block;
            width: 100%;
            aspect-ratio: 4/3;
            height: auto;
        }

        .card__body {
            padding: var(--padding--sm);
            background: var(--background);
        }
    }
}

/* card02 sec__10  */
.card__list--02 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: var(--gap-lg);

    .card--02 {
        width: 100%;
        aspect-ratio: 3/4;
        border: var(--border);
        background: var(--background);

        .card__img--02 {
            display: block;
            width: 100%;
            aspect-ratio: 4/3;
        }

        .card__body--02 {
            padding: var(--padding--sm);

            .card__header {
                margin-bottom: var(--contents-margin--md);

                .card__title--02 {
                    margin-bottom: var(--contents-margin--xs);
                }
            }
        }
    }
}

/* card--03 sec__11 */
.card__list--03 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: var(--gap-lg);

    .card--03 {
        width: 100%;
        aspect-ratio: 3/4;
        border: var(--border);
        background: var(--background);

        .card__title--top {
            text-align: center;
            padding: var(--padding--xs);
            margin: 0;
        }

        .card__img--03 {
            display: block;
            width: 100%;
            aspect-ratio: 4/3;
        }

        .card__body {
            padding: var(--padding--sm);
        }
    }
}

/* card--04 sec__12 */
.card__list--04 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;

    .card--04 {
        width: 100%; 
        /* border: var(--border); */
        background: var(--background);
        
        .card__img--04 {
            display: block;
            width: 100%;
            aspect-ratio: 4/3;
        }

        .card__body--04 {
            padding: var(--padding--md);

            .card__text--04 {
                margin-bottom: var(--contents-margin--sm);
            }

            .card__link {
                display: grid;
                place-content: end;
            }

            .card-btn {
                padding: 8px 24px;
                background: #fff;
                border: var(--border);
            }
        }
    }
}

/* media-card sec_13 */
.media-card__list {
    display: grid;
    gap: var(--gap);

    .media-card {
        display: grid;
        grid-template-columns: 400px 1fr;
        align-items: start;
        gap: var(--gap);
        padding: var(--padding--sm) var(--padding--lg);
        background-color: var(--background);
    }

    .media-card__img--02 {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .media-card__title--area {
        padding: 0 0 56px;
    }
}

/* media-card__02 sec__14 */
.media-card__list--02 {
    display: grid;
    gap: var(--gap);

    
 .media-card02 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    gap: var(--gap);
    padding: var(--padding-LR-md);
    background: var(--background);

     .media-card__img--03 {
        width: 100%;
        aspect-ratio: 16/9;
    }

     .media-card__text {
        padding-bottom: 56px;
    }

     .media-card__link {
        display: grid;
        place-content: end;
    }

     .media-card__btn {
        padding: 8px 24px;
        background: #fff;
        border: var(--border);
    }
}


}

/* price-plans sec__15*/
.price-table__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: var(--gap);

    .price-table__item {
        padding: var(--padding--sm);
        background: var(--background);
    
    }
}






/* footer */
.footer {

    
    margin-top: var(--contents-margin--lg);
    padding: 120px 120px 0;
    width: 100%;
    height: 400px;
    background: var(--background);

    .footer__nav {
        height: 140px;
    }

    .footer__list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
        gap: var(--gap);
    }

    .footer__text--area {
        display: grid;
    place-content: center;
    }
}